@font-face {
    font-family: 'Nanum Pen Script';
    src: url('../font/NanumPenScript-Regular.ttf');
}

@keyframes strike{
    0%   { width : 0; }
    100% { width: 100%; }
  }

* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../new-journal.jpg');
    background-repeat: no-repeat;
    filter: opacity(85%);
}