@font-face {
    font-family: 'Nanum Pen Script';
    src: url('../font/NanumPenScript-Regular.ttf');
}

@keyframes strike{
    0%   { width : 0; }
    100% { width: 100%; }
  }

* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../new-journal.jpg');
    background-repeat: no-repeat;
    filter: opacity(85%);
    font-family: var(--main-font);
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    user-select: none;

    &.enabled:hover {
        cursor: pointer;
    }

    .checkbox {
        width: 37px;
    }

    .checkbox-envelope {
        margin: 0;
        padding: 0;
    
        .checkbox-text {
            font-size: 41pt;
            line-height: 37px; 
            margin-left: .20em;
            margin-top: .15em;
            color: var(--evidence-color);
        }
    }
}