#remarks-wrapper {
    #remark1 {
        font-size: 28pt;
        color: var(--remark-color);
        user-select: none;
    }

    .checkbox-wrapper {
        .checkbox-envelope {
            .checkbox-text {
                font-size: 28pt;
            }
        }
    }
}

#clear-button {
    width: 105px;
    height: 55px;
    margin-left: 225px;
    margin-top: 10px;
    text-align: center;
    font-size: 4em;
    color: var(--evidence-color);
    user-select: none;

    &:hover {
        cursor: pointer;
        color: rgba(var(--evidence-color-decimal), 0.75);
    }
}

#section-wrapper {
    padding-left: 25px;
    padding-top: 25px;
    display: flex;

    .evidence-container {
        width: 370px;
        min-width: 370px;
        height: 100%;
        position: relative;
    
        .checkbox-wrapper {  
            &:not(.enabled) {
                filter: opacity(50%);
            }
        
            &:not(:first-child) {
                margin-top: .35em;    
            }
        
            &.disabled {
                filter: opacity(50%);
            }
        
            .checkbox-envelope {
                &::before {
                    top: 20px;
                    content: '';
                    width: 115%;
                    height: .5em;
                    display: inline-block;
                    position: relative;
                    white-space: nowrap;
                    line-height: 37px; 
                }
            
                &:not(.enabled)::before {
                    background: var(--evidence-color); /*this is the color of the line*/
                    opacity: .9;
                    border-radius: .3em;
                    left: -15%;
                    transform: rotate(1.0deg); 
                }
            }
        }
    }
    
    #ghosts-wrapper {
        font-size: 1.35em;
        color: var(--ghost-info-color);
        border-left: solid var(--ghost-info-color) 3px;
        margin-left: 5px;
        padding-left: 25px;
    
        #possibleGhosts {
            list-style: none;
            text-transform: uppercase;
            display: table;
        
            li {
                font-size: 2em;
                color: var(--ghost-name-color);
            }
        
            p {
                margin-top: -12px;
                margin-bottom: 10px;
                font-size: 1.15em; 
            }
    
            .weakness {
                color: var(--ghost-weakness-color);
            }
        }
    }
}

#update-wrapper {
    font-size: 2em;
    font-weight: bold;
    opacity: .6;
    position: absolute;
    bottom: 0%;
}

#stopwatch-wrapper {
    display: flex;
    font-size: 3em;
    color: var(--evidence-color);
    width: 250px;
    margin-left: 190px;
    //text-align: center;
    #stopwatch {
        cursor: pointer;
        user-select: none;
        width: 150px;

        #stopwatch-suffix {
            position: fixed;
            font-size: 65%;
            top: 12px;
            left: 275px;
        }
    }

    #stopwatch-reset {
        font-family: var(--main-font);
        font-size: 1em;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        overflow: hidden;
        outline: none;
        padding-left: 15px;
        color: var(--evidence-color);
        &:hover{
            color: rgba(var(--evidence-color-decimal), 0.75);
            cursor: pointer;
        }
    }
}