:root {
    --evidence-color: #363636;
    --ghost-info-color: #2D2D2D;
    --ghost-name-color: #643232;
    --ghost-weakness-color: #005800;
    --main-font: 'Nanum Pen Script';
    --remark-color: #496595;
}