:root {
    --evidence-color: #BCC6CC;
    --ghost-info-color: #BCC6CC;
    --ghost-name-color: #b14141;
    --ghost-weakness-color: #005800;
    --ghost-evidence-color: #04c004;
    --ghost-description-color: #FDF5E6;
    --main-font: 'Nanum Pen Script';
    --remark-color: #496595;
}