:root {
  --evidence-color: #bcaa81;
  --evidence-color-decimal: 54, 54, 54;
  --ghost-info-color: #2D2D2D;
  --ghost-name-color: #643232;
  --ghost-weakness-color: #005800;
  --main-font: "Reforma 1918 Blanca";
  --remark-color: #496595;
  --tooltip-hunt-threshold-color: #141414;
  --tooltip-unique-color: #252525;
}

@font-face {
  font-family: "Reforma 1918 Blanca";
  src: url("../font/Reforma1918-Blanca.ttf");
}
@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
}

/*
.bg-image {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
}

.bg-image::before {
    content: "";
    background-image: url('../demonologist.avif');
    filter: blur(4px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
*/
body,
html {
  font-family: var(--main-font);
  filter: opacity(85%);
  color: white;
  font-weight: bold;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.checkbox-wrapper.enabled:hover {
  cursor: pointer;
}
.checkbox-wrapper .checkbox {
  width: 37px;
}
.checkbox-wrapper .checkbox-envelope {
  margin: 0;
  padding: 0;
}
.checkbox-wrapper .checkbox-envelope .checkbox-text {
  font-size: 41pt;
  line-height: 37px;
  margin-left: 0.2em;
  margin-top: 0.15em;
  color: var(--evidence-color);
}

#remarks-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
}
#remarks-wrapper #remark1 {
  font-size: 28pt;
  color: var(--remark-color);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#remarks-wrapper .checkbox-wrapper .checkbox-envelope .checkbox-text {
  font-size: 28pt;
}

#clear-button {
  width: 105px;
  height: 55px;
  margin-left: 225px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 4em;
  color: var(--evidence-color);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#clear-button:hover {
  cursor: pointer;
  color: rgba(var(--evidence-color-decimal), 0.75);
}

#section-wrapper {
  padding-left: 25px;
  display: flex;
}
#section-wrapper .evidence-container {
  width: 670px;
  min-width: 670px;
  height: 100%;
  position: relative;
}
#section-wrapper .evidence-container .checkbox-wrapper:not(.enabled) {
  filter: opacity(50%);
}
#section-wrapper .evidence-container .checkbox-wrapper:not(:first-child) {
  margin-top: 0.35em;
}
#section-wrapper .evidence-container .checkbox-wrapper.disabled {
  filter: opacity(50%);
}
#section-wrapper .evidence-container .checkbox-wrapper .checkbox-envelope::before {
  top: 20px;
  content: "";
  width: 115%;
  height: 0.5em;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  line-height: 37px;
}
#section-wrapper .evidence-container .checkbox-wrapper .checkbox-envelope:not(.enabled)::before {
  background: var(--evidence-color);
  /*this is the color of the line*/
  opacity: 0.9;
  border-radius: 0.3em;
  left: -15%;
  transform: rotate(1deg);
}
#section-wrapper #ghosts-wrapper {
  font-size: 1.35em;
  color: var(--ghost-info-color);
  border-left: solid var(--ghost-info-color) 3px;
  margin-left: 5px;
  padding-left: 25px;
  height: 100%;
}
#section-wrapper #ghosts-wrapper #possibleGhosts {
  list-style: none;
  text-transform: uppercase;
  display: table;
}
#section-wrapper #ghosts-wrapper #possibleGhosts .ghostentry li {
  font-size: 1.75em;
  color: var(--ghost-name-color);
}
#section-wrapper #ghosts-wrapper #possibleGhosts .ghostentry li .tooltip {
  position: relative;
  display: inline-block;
}
#section-wrapper #ghosts-wrapper #possibleGhosts .ghostentry li .tooltip .tooltiptext {
  visibility: hidden;
  width: 550px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 0.6em;
  position: absolute;
  z-index: 1;
  /*bottom: 100%;
  left: 50%;*/
  top: -5px;
  left: 205px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: rgb(180, 179, 179);
  /* Draw an arrow at bottom of tooltip box
                          &::after {
                              content: "";
                              position: absolute;
                              top: 100%;
                              left: 50%;
                              margin-left: -5px;
                              border-width: 5px;
                              border-style: solid;
                              border-color: #555 transparent transparent transparent;
                          }
  */
}
#section-wrapper #ghosts-wrapper #possibleGhosts .ghostentry li .tooltip .tooltiptext .huntThreshold {
  color: var(--tooltip-hunt-threshold-color);
  font-weight: bold;
}
#section-wrapper #ghosts-wrapper #possibleGhosts .ghostentry li .tooltip .tooltiptext .unique {
  color: var(--tooltip-unique-color);
}
#section-wrapper #ghosts-wrapper #possibleGhosts .ghostentry li .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
#section-wrapper #ghosts-wrapper #possibleGhosts p {
  margin-top: -12px;
  margin-bottom: 10px;
  font-size: 1.15em;
}
#section-wrapper #ghosts-wrapper #possibleGhosts .weakness {
  color: var(--ghost-weakness-color);
}
#section-wrapper #ghosts-wrapper #possibleGhosts .ghostentry.excluded {
  opacity: 0.25;
}
#section-wrapper #ghosts-wrapper #possibleGhosts .ghostentry.excluded li .tooltip:hover .tooltiptext {
  visibility: hidden;
  opacity: 0;
}

#update-wrapper {
  color: black;
  font-size: 2em;
  font-weight: bold;
  opacity: 0.6;
  position: absolute;
  top: 0%;
  right: 0%;
}/*# sourceMappingURL=demonologistTracker.css.map */