* {
    margin: 0;
    padding: 0;
}

body {
    background: url('new-journal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper {
    padding: 25px;
    display: flex;
}

#ghosts {
    font-family: 'Kalam', cursive;
    color: rgb(45,45,45);
    border-left: solid rgb(45,45,45) 3px;
    margin-left: 5px;
    padding-left: 25px;
}

#possibleGhosts {
    /*list-style: square inside url("x.png");*/
    list-style: none;
    text-transform: uppercase;
    display: table;
}

#possibleGhosts li {
    font-size: 2em;
    color: rgb(100,50,50);
}

#possibleGhosts p {
    margin-top: -12px;
    margin-bottom: 10px;
    font-size: 1.15em;
}

#evidence {
    font-family: 'Kalam', cursive;
    color: rgb(45,45,45);
}

#remarks {
    font-family: 'Kalam', cursive;
    font-size: 1.3em;
    color: #496595;
}

#evidence h1 {
    margin-bottom: 15px;
}

#evidence .button {
    margin-bottom: 15px;
}

#emf,#spiritbox,#fingerprints,#ghostorb,#ghostwriting,#freezingtemperatures,#dotsprojector,#excludeLatch {
    width: 355px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: left;
}

#clear {
    width: 425px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75px;
}

#notes-header {
    width: 100px;
    height: 35px;
    margin-bottom: 25px;
    text-decoration: underline;
}

#notes-div {
    display: block;
    font-family: 'Kalam', cursive;
    font-size: 2.3em;
    color: #464646;
}

#notes-speechStatus {
    font-family: 'Kalam', light;
    margin-top: 9px;
    font-size: 0.75em;
    color: #949494;
}

#notes-header-block {
    display: flex;
}

#notes-content {
    background: transparent;
    border: 1px solid #BABABA;
    font-family: 'Kalam', cursive;
    font-size: 1em;
    width: 20%;
    resize: none;
}

#emf.enabled:hover,#spiritbox.enabled:hover,#fingerprints.enabled:hover,#ghostorb.enabled:hover,
                   #ghostwriting.enabled:hover,#freezingtemperatures.enabled:hover,#dotsprojector.enabled:hover,
                   #clear:hover,#notes-header:hover,#excludeLatch:hover {
    cursor: pointer;
}

#emf:not(.enabled),#spiritbox:not(.enabled),#fingerprints:not(.enabled),#ghostorb:not(.enabled),
                   #ghostwriting:not(.enabled),#freezingtemperatures:not(.enabled),#dotsprojector:not(.enabled) {
    filter: opacity(50%);
}

#emf {
    background-image: url('btnsUnchecked/emf.png');
}

#spiritbox {
    background-image: url('btnsUnchecked/spiritbox.png');
}

#fingerprints {
    background-image: url('btnsUnchecked/fingerprints.png');
}

#ghostorb {
    background-image: url('btnsUnchecked/ghostorb.png');
}

#ghostwriting {
    background-image: url('btnsUnchecked/ghostwriting.png');
}

#freezingtemperatures {
    background-image: url('btnsUnchecked/freezingtemperatures.png');
}

#dotsprojector {
    background-image: url('btnsUnchecked/dotsprojector.png');
}

#excludeLatch {
    background-image: url('btnsUnchecked/excludeMode.png');
}

#clear {
    background-image: url('clear.png');
}

#clear:hover {
	/*background-image: url('clear-highlighted.png');*/
}

.weakness {
    color: rgb(0, 88, 0);
}
 
input.large {
    width: 32;
    height: 32;
}