@font-face {
    font-family: 'Nanum Pen Script';
    src: url('font/NanumPenScript-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url('new-journal.jpg');
    background-repeat: no-repeat;
    /*background-size: cover;*/
    filter: opacity(85%);
}

#wrapper {
    padding: 25px;
    display: flex;
}

.button {
    margin-bottom: 15px;
}

.evidence-container {
    width: 370px;
    min-width: 370px;
    height: 100%;
    position: relative;
}
.evidence-wrapper {
    display: flex;
    align-items: center;
    user-select: none;
}

.evidence-wrapper:not(:first-child) {
    margin-top: .5em;
}

.evidence-wrapper.disabled {
    filter: opacity(50%);
}

.evidence-wrapper:not(.enabled)::before {
    top: 45%; /*tweak this to adjust the vertical position if it's off a bit due to your font family */
    background: #363636; /*this is the color of the line*/
    opacity:.9;
    content: '';
    width: 100%;
    position: absolute;
    height:.5em;
    border-radius:.2em;
    left: -2%;
    white-space:nowrap;
    display: block;
    transform: rotate(0deg); 
}

.checkbox {
    width: 37px;
}

.evidence {
    font-family: 'Nanum Pen Script';
    font-size: 41pt;
    line-height: 37px; 
    margin-left: .20em;
    margin-top: .15em;
    color: #363636;
}

#excludeLatch {
    width: 355px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: left;
}

#ghosts {
    font-family: 'Nanum Pen Script';
    font-size: 1.35em;
    color: rgb(45,45,45);
    border-left: solid rgb(45,45,45) 3px;
    margin-left: 5px;
    padding-left: 25px;
}

#possibleGhosts {
    list-style: none;
    text-transform: uppercase;
    display: table;
}

#possibleGhosts li {
    font-size: 2em;
    color: rgb(100,50,50);
}

#possibleGhosts p {
    margin-top: -12px;
    margin-bottom: 10px;
    font-size: 1.15em;
}

#evidence {
    font-family: 'Nanum Pen Script';
    font-size: 24px;
    color: rgb(45,45,45);
}

#remarks {
    font-family: 'Kalam', cursive;
    font-size: 1.3em;
    color: #496595;
}

#clear {
    width: 425px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75px;
}

#clear:hover {
    filter: opacity(100%);
}

#emf.enabled:hover,#spiritbox.enabled:hover,#fingerprints.enabled:hover,#ghostorb.enabled:hover,
                   #ghostwriting.enabled:hover,#freezingtemperatures.enabled:hover,#dotsprojector.enabled:hover,
                   #clear:hover,#excludeLatch:hover {
    cursor: pointer;
}

#emf:not(.enabled),#spiritbox:not(.enabled),#fingerprints:not(.enabled),#ghostorb:not(.enabled),
                   #ghostwriting:not(.enabled),#freezingtemperatures:not(.enabled),#dotsprojector:not(.enabled) {
    filter: opacity(50%);
}

#excludeLatch {
    background-image: url('btnsUnchecked/excludeMode.png');
}

#clear {
    background-image: url('clear.png');
}

.weakness {
    color: rgb(0, 88, 0);
}
 
input.large {
    width: 32;
    height: 32;
}