@font-face {
    font-family: 'Rene Levesque';
    src: url('font/ReneLevesque-Regular.ttf');
}

:root {
    --main-text-color: #B97C00;
}

a {
    color: var(--main-text-color);
}

body {
    font-family: 'Rene Levesque';
    display: grid;
    height: 50vh;
    place-items: center;
    background-image: url('img/forewarned.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    color: var(--main-text-color);

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */

}

#modes {
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 44px;
}

#modes a {
    text-decoration: none;
}

.mode.clicked a {
    color: #F97C00;
}

.mode:not(:last-child) {
    margin-right: 1em;
}

.base-timer {
    position: relative;
    width: 300px;
    height: 300px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
    opacity: 60%;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
    opacity: 25%;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    opacity: 75%;
}
