* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

body {
    /*background: #C6C6C6;*/
    background-color: #c6c6c6;
    background-image: linear-gradient(
        to bottom,
        #b1b1b1,
        #c9c9c9);
/*    background-repeat: no-repeat;*/
    background-size: cover;
}

#title_header {
    height: 85px;
    background-color: blue;
    background-image: 
        linear-gradient(
            to right,
            /*#003070, */
            #003070,
            #115BAB
/*            #115BAB 50%,
            #003070 50%*/
            
        );

    color: #b6b6b6;
    font-size: 44px;
    font-family: Roboto;
}

.vertical-center {
  line-height: 85px;
  height: 85px;
  vertical-align: middle;
  margin-left: 15px;
}

.center {
    text-align: center;
}

.evidence{
    font-size: 24px;
    margin-top: 10px;
}

.section {
    height: 600px;
    background-color: grey;
    background-image:
        linear-gradient(
            to right,
            #cfcfcf,
            #d8d8d8
        );
}

.section-header {
    height: 85px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#filler {
    height: 37px;
}

.left-header {
    background-color: grey;
    background-image:
        linear-gradient(
            to right,
            #4d4d4d,
            #707070
        );
}

.right-header {
    background-color: grey;
    background-image:
        linear-gradient(
            to right,
            #707070,
            #4d4d4d
        );
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#exorcism-header {
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 15px;
    width: 98%;
    height: 32px;
    background-color: green;
    background-image:
        linear-gradient(
            to right,
            #21541f,
            #357430
        );
    color: #c8c8c8;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.evidence-control,.category-control {
    display: flex;
    vertical-align: middle;
    width: auto;
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
}

.evidence-left-selector {
    width: 100px;
    height: 48px;
    margin-left: 10px;
    background: url('evidence-left.png');
    background-repeat: no-repeat;
    float: left;
}

.category-left-selector {
    width: 100px;
    height: 48px;
    margin-left: 10px;
    background: url('category-left.png');
    background-repeat: no-repeat;
    float: left;
}

.evidence-selection,.category-selection {
    font-size: 32px;
    width: 650px;
    text-align: center;
    font-weight: bold;
}

.evidence-right-selector {
    width: 100px;
    height: 48px;
    margin-right: 10px;
    background: url('evidence-right.png');
    background-repeat: no-repeat;
    float: left;
}

.category-right-selector {
    width: 100px;
    height: 48px;
    margin-right: 10px;
    background: url('category-right.png');
    background-repeat: no-repeat;
    float: left;
}

#category-description {
    margin: 10px;
    font-size: 28px;
    font-weight: bold;
}

#exorcism {
    font-size: 32px;
    font-weight: bold;
}

input.large {
    width: 24px;
    height: 24px;
    margin-left: 20px;
}

ul.square {
    margin-left: 50px;
    list-style-type: square;
}

.evidence-left-selector:hover, .evidence-right-selector:hover, .category-right-selector:hover, .category-left-selector:hover,
#title:hover {
    cursor: pointer;
}

input[type=checkbox]:checked + label.strikethrough {
    text-decoration: line-through;
    font-style: italic;
    color: #797979;
}

/*
@keyframes fancystrike{
  0%   { width : 0; }
  100% { width: 100%; }
}

input[type=checkbox]:checked + label.fancystrike {
  position: relative;
  font-style: italic;
  color: #797979;
}

input[type=checkbox]:checked + label.fancystrike::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 1;
  width: 100%;
  height: 5px;
  background: #797979;
  animation-name: fancystrike;
  animation-duration: 0.25s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}

input[type=checkbox]:checked + label.strikethrough {
  font-style: italic;
  color: #797979;
}

input[type=checkbox]:checked + label.strikethrough:after {
   text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 5px;
    transition: background-size .3s;
}

input[type=checkbox]:checked + label.strikethrough:hover {
    color: rgba(200,0,0,1);
    background: rgba(255, 189, 182, 0.3);
}

input[type=checkbox]:checked + label.strikethrough:hover:after {
    transform: scaleX(0);
    transform-origin: center right;
}

@keyframes strikethrough {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
*/