:root {
  --evidence-color: #363636;
  --ghost-info-color: #2D2D2D;
  --ghost-name-color: #643232;
  --ghost-weakness-color: #005800;
  --main-font: 'Nanum Pen Script';
  --remark-color: #496595;
}

@font-face {
  font-family: 'Nanum Pen Script';
  src: url("../font/NanumPenScript-Regular.ttf");
}

@-webkit-keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../new-journal.jpg");
  background-repeat: no-repeat;
  -webkit-filter: opacity(85%);
          filter: opacity(85%);
  font-family: var(--main-font);
}

.checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox-wrapper.enabled:hover {
  cursor: pointer;
}

.checkbox-wrapper .checkbox {
  width: 37px;
}

.checkbox-wrapper .checkbox-envelope {
  margin: 0;
  padding: 0;
}

.checkbox-wrapper .checkbox-envelope .checkbox-text {
  font-size: 41pt;
  line-height: 37px;
  margin-left: .20em;
  margin-top: .15em;
  color: var(--evidence-color);
}

#remarks-wrapper #remark1 {
  font-size: 28pt;
  color: var(--remark-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#remarks-wrapper .checkbox-wrapper .checkbox-envelope .checkbox-text {
  font-size: 28pt;
}

#clear-button {
  width: 105px;
  margin-left: 225px;
  text-align: center;
  font-size: 4em;
  color: var(--evidence-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#clear-button:hover {
  cursor: pointer;
}

#section-wrapper {
  padding-left: 25px;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-wrapper .evidence-container {
  width: 370px;
  min-width: 370px;
  height: 100%;
  position: relative;
}

#section-wrapper .evidence-container .checkbox-wrapper:not(.enabled) {
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
}

#section-wrapper .evidence-container .checkbox-wrapper:not(:first-child) {
  margin-top: .35em;
}

#section-wrapper .evidence-container .checkbox-wrapper.disabled {
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
}

#section-wrapper .evidence-container .checkbox-wrapper .checkbox-envelope::before {
  top: 20px;
  content: '';
  width: 115%;
  height: .5em;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  line-height: 37px;
}

#section-wrapper .evidence-container .checkbox-wrapper .checkbox-envelope:not(.enabled)::before {
  background: var(--evidence-color);
  /*this is the color of the line*/
  opacity: .9;
  border-radius: .3em;
  left: -15%;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

#section-wrapper #ghosts-wrapper {
  font-size: 1.35em;
  color: var(--ghost-info-color);
  border-left: solid var(--ghost-info-color) 3px;
  margin-left: 5px;
  padding-left: 25px;
}

#section-wrapper #ghosts-wrapper #possibleGhosts {
  list-style: none;
  text-transform: uppercase;
  display: table;
}

#section-wrapper #ghosts-wrapper #possibleGhosts li {
  font-size: 2em;
  color: var(--ghost-name-color);
}

#section-wrapper #ghosts-wrapper #possibleGhosts p {
  margin-top: -12px;
  margin-bottom: 10px;
  font-size: 1.15em;
}

#section-wrapper #ghosts-wrapper #possibleGhosts .weakness {
  color: var(--ghost-weakness-color);
}

#update-wrapper {
  font-size: 2em;
  font-weight: bold;
  opacity: .6;
  position: absolute;
  bottom: 0%;
}
/*# sourceMappingURL=evidenceTracker.css.map */