html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    line-height: 1.3;
    background: url("../img/devour_bg.png") no-repeat;
    backdrop-filter: blur(4px);
}

ul {
    list-style-type: none;
}

.active-hover:hover {
    filter: brightness(150%);
}

.cursor-pointer {
    cursor: pointer;
}
