#navbar {
    margin: 0px;
    height: 42px;
    display: flex;

    //background-color: #1e1e1e;
    background-color: rgba(21, 21, 21, .70);
    
    place-content: space-between;

    &__logo {
        width: 38px;
        height: 38px;
        margin-top: .1em;
        margin-left: .5em;
    }

    &__bar {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        padding-left: .1em;

        li {
            font-family: 'Blood Thirst';
            font-size: 1.6em;
            margin-bottom: .5em;
            margin-left: 1.0em;
            padding-right: .3em;

            transform: translateY(20%);

            a {
                color: var(--theme-color);
            }
        }
    }
}

.container {
    width: 100%;
    position: relative;
    box-sizing: border-box;

    &__row {
        display: flex;
        width: 100%;
        margin-top: 10%;
    }
    
    &__column {
        display: table;
        width: 15%;
        margin-left: 0%;
        margin-top: 10%;
        padding: 0;
        margin: auto;

        .shrine-img {
            margin: auto;
            display: block;
            width: 60%;
            cursor: pointer;
        }
/*
        .shrine-img.burned {
            filter: grayscale(100%) brightness(150%);
        }
        
        .shrine-img.burned:hover {
            filter: grayscale(100%) brightness(200%);
        } 
 */       
        .shrine-img:not(.burned):hover {
            filter: brightness(150%);
        }

        .flip-card {
            background-color: transparent;
            width: 100%;
            height: 13vh;
            perspective: 1000px;
        }
        
        .flip-card-inner {
            transition: transform 0.6s;
            transform-style: preserve-3d;
        }
        
        .flip-card-inner.burned {
            transform: rotateY(180deg);            
        }

        .flip-card-front, .flip-card-back {
            position: absolute;

            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        
        .flip-card-front {
            /*background-color: #bbb; */
            color: black;
        }
        
        .flip-card-back {
            /* background-color: #2980b9;*/
            color: black;
            transform: rotateY(180deg);
            filter: grayscale(100%);
        }    
    }
}

.box {
    position: relative;
    width: 185px;
    margin: auto;

    select {
        background-color: var(--theme-color);
        color: var(--custom-select-text-color);
        font-size: 14pt;
        padding: 4px;
        border-radius: .5em;
        width: 100%;
        
        border: none;

        option:disabled {
            color: rgb(100, 100, 100);
        }
    }
}

#reset-container {
    margin-top: 5%;

    #reset {
        width: 10%;
        height: 5%;
        color: #91190F;
        font-size: 65px;
        font-family: 'Blood Thirst';
        margin-left: 46.35%;
    }
}

/* The Modal (background) */
#image-viewer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.75);

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 1100px;
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    
    @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
    }
    
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    @media only screen and (max-width: 700px){
        .modal-content {
            width: 100%;
        }
    }
}

