@font-face {
    font-family: 'Blood Thirst';
    src: url('../font/Blood Thirst.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --theme-color: #91190F;
    --custom-select-text-color: rgb(201, 201, 201);
}
