@font-face {
    font-family: 'Blood Thirst';
    src: url('font/Blood Thirst.ttf');
}

@viewport {
    width: device-width;
    height: device-height;
    zoom: 1.0;
}

body {
    /*background-size: cover;*/
    background-image: url("img/devour_bg.png");
    background-repeat: no-repeat;
}

#container .symbol {
    border: 1px;
    border-style: none;
    position: absolute;
    background-repeat: no-repeat;
}

td {
    padding-left: 25px;
    padding-top: 50px;
}

.roomselect {
    background-color: rgb(29, 28, 28);
    font-size: 20px;
    text-align: center;
    color: rgb(182, 178, 178);
}

optgroup {
    font-size: 20px;
}

#reset {
    width: 10%;
    height: 5%;
    color: #91190F;
    font-size: 65px;
    font-family: 'Blood Thirst';
    margin-left: 47%;
    margin-top: 25px;
    text-align: center;
    cursor: pointer;
}
